name: Build and upload binaries

on:
  release:
    typs: [ published ]
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag `btdt-[cli|server]-vX.Y.Z` to build binaries for.'
        required: true

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10

defaults:
  run:
    shell: bash

jobs:
  upload-assets:
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            skip-for: [btdt-server]
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-latest
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
            skip-for: [btdt-server]
          - target: aarch64-apple-darwin
            os: macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Extract binary name and version
        id: version-info
        run: |
          REF=${{ inputs.version || github.event.release.tag_name }}
          TAG=${REF#refs/*/}
          VERSION=${TAG#btdt-*-}
          COMPONENT=${TAG%-v*}
          
          echo "tag=${TAG}" >> $GITHUB_OUTPUT
          echo "component=${COMPONENT}" >> $GITHUB_OUTPUT
          echo "binary_name=${COMPONENT/btdt-cli/btdt}" >> $GITHUB_OUTPUT
          echo "version=${VERSION#v}" >> $GITHUB_OUTPUT
      - name: Install toolchain for target
        run: rustup target add ${{ matrix.target }}
        if: ${{ !contains(matrix.skip-for, steps.version-info.outputs.component) }}
      - uses: actions/checkout@v4
        if: ${{ !contains(matrix.skip-for, steps.version-info.outputs.component) }}
      - uses: taiki-e/upload-rust-binary-action@v1
        if: ${{ !contains(matrix.skip-for, steps.version-info.outputs.component) }}
        with:
          bin: ${{ steps.version-info.outputs.binary_name }}
          target: ${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: refs/tags/${{ steps.version-info.outputs.tag }}
          build-tool: cargo
